<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet access for loading wallpapers -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Permission to set normal wallpapers -->
    <uses-permission
        android:name="android.permission.SET_WALLPAPER" />

    <!-- Sensors for 3D parallax movement -->
    <uses-permission
        android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:label="AnimeWall"
        android:theme="@style/Theme.AnimeWall">

        <!-- Main App -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>



        <!-- Live Wallpaper Service -->
        <service
            android:name=".LiveWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:label="AnimeWall Live Wallpaper">

            <intent-filter>

                <action
                    android:name="android.service.wallpaper.WallpaperService" />

            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />

        </service>

    </application>

</manifest>
